[galaxy]
server_list = my_hub

[galaxy_server.my_hub]
url = https://sandbox-aap-uvakas03-dev.apps.rm3.7wse.p1.openshiftapps.com/api/galaxy/content/published/
token = d2a40cafb901945a13559d38802a9abe2117b776
